# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
!bin/**/.pyc
*$py.class

# Eclipse / PyDev projects
.project
.pydevproject
.settings/
.idea/

# virtual environment
venv/

# pyinstaller
dist/
build/

# pip -e
bd_config.egg-info/